/app/enigmacrypt/_src/.pytest_cache
/app/enigmacrypt/_src/.vscode
/app/enigmacrypt/_src/test.py
/app/enigmacrypt/_src/__pycache__
/.vscode/
/build
/enigmacrypt.egg-info
/dist
.bumpversion.cfg
build.py
upload.py
.pypirc